

<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Seja bem vindo <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Sair</a>
<a href="/show" class="btn btn-secondary">Editar Perfil</a>
<a href="/delete" class="btn btn-secondary">Deletar Usuário</a>
<a href="/chat" class="btn btn-secondary">Chat da Corujinha</a>
